<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>redmine.png</string>
			<key>Regular Expression</key>
			<string>(?s)^[0-9]{4,5}$</string>
			<key>Title</key>
			<string>Redmine</string>
			<key>URL</key>
                        <string>http://redmine/issues/{popclip text}</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://github.com/orzzzp</string>
			<key>Name</key>
			<string>Ziwilling Zhang</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Goto to the Issue Details page on Redmine.</string>
	<key>Extension Identifier</key>
	<string>com.github.orzzzp.popclip.redmine</string>
	<key>Extension Name</key>
	<string>Redmine</string>
</dict>
</plist>
